adium-theme-ubuntu==0.3.4
appdirs==1.4.0
argcomplete==1.9.2
atlas==0.27.0
attrs==17.3.0
beautifulsoup4==4.4.1
bicyclerepair==0.9
boto==2.48.0
boto3==1.4.8
botocore==1.8.12
bz2file==0.98
certifi==2017.11.5
chardet==3.0.4
click==6.7
cycler==0.10.0
docutils==0.14
funcsigs==1.0.2
functools32==3.2.3.post2
funcy==1.10
future==0.16.0
futures==3.2.0
gensim==3.2.0
html5lib==0.999
idna==2.6
ipaddr==2.1.11
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
lxml==3.5.0
MarkupSafe==1.0
matplotlib==2.0.2
mullvad==65
netifaces==0.10.4
nltk==3.2.4
numexpr==2.6.4
numpy==1.13.3
oauthlib==2.0.4
PAM==0.4.2
pandas==0.21.0
Pattern==2.6
pexpect==4.0.1
Pillow==3.1.2
pluggy==0.6.0
psutil==3.4.2
ptyprocess==0.5
py==1.5.2
pygobject==3.20.0
pyinotify==0.9.6
pyLDAvis==2.1.1
pyparsing==2.2.0
PyPrind==2.11.1
pyserial==3.4
pytest==3.3.1
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
s3transfer==0.1.12
scipy==1.0.0
six==1.11.0
smart-open==1.5.5
subprocess32==3.2.7
threadpool==1.3.2
tweepy==3.5.0
unity-lens-photos==1.0
urllib3==1.22
wxPython==3.0.2.0
wxPython-common==3.0.2.0
