atlas==0.27.0
bz2file==0.98
gensim==0.13.1
nltk==3.2.1
numpy==1.11.2
Pattern==2.6
pyLDAvis==2.1.0
PyPrind==2.9.9
scipy==0.18.1
tweepy==3.5.0
argcomplete==1.8.2
pandas==0.19.1
click===0.4.21.1ubuntu0.2
Cython==0.24.1
jsonschema==2.5.1
matplotlib==1.5.3
pandas==0.19.0
tweepy==3.5.0
